<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用Spring来创建对象，在Spring中这些都成为Bean

    类型 变量名 = new 类型();
    Hello hello = new Hello();
     bean = 对象   new Hello();
     -->
    <bean id="hello" class="com.yangtao.pojo.Hello">
        <property name="str" value="Spring"/>
    </bean>

    <bean id="student" class="com.yangtao.pojo.Student">
        <property name="id" value="001"/>
        <property name="name" value="yangtao"/>
    </bean>

</beans>